<%- include('../partials/userheader') %>
<br><br>

<body>
    <h2><%= recipe.name %> <small>(<%= recipe.cuisineType %>)</small></h2>
    <br><br>
    <h5>Difficulty:</h5>
    <p><%= recipe.difficulty %></p>
    <h5>Ingredients:</h5>
    <p><%= recipe.ingredients %></p>
    <h5>Instructions:</h5>
    <p><%= recipe.instructions %></p>
</body>